// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

// Font Variables
$montserrat: "Montserrat", sans-serif;
$open-sans: "Open Sans", sans-serif;


// Styling
* {
  margin: 0;
  padding: 0;
}

body {
  width: 960px;
  margin: 0 auto 4em;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: inherit;
}

// Header Styling
header {
  padding: 2em 0 1em;
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 960px;
  box-shadow: 0em .1em #E4A13E;
  z-index: 9999;
}

h1 {
  font-family: $montserrat;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  padding: 5em 0 2.75em;
  grid-column: col-start / span 3;
}

#name {
  font-family: $montserrat;
  font-weight: 600;
  color: black;
  font-size: 1.25em;
  display: inline;
}

#name:hover {
  color: #E4A13E;
  transition: .5s ease-in;
  transition: .5s ease-out;
}

nav {
  font-family: $open-sans;
  color: inherit;
  font-size: 0.9em;
  float: right;
}

ul{
  padding-left: 0;
}

nav ul li {
  list-style: none;
  display: inline;
  margin-left: 25px;
}

nav ul li:hover {
  color: #E4A13E;
  transition: .3s ease;
}

// Work Styling
#mainContainer {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: minmax(3em, [row] auto);
  grid-column-gap: 2%;
}

.bio {
  grid-column: col-start / span 12;
  grid-row: 1;
}

.mainItem2 {
  grid-column: col-start 1/ span 6;
  grid-row: 2;
}

.mainItem3 {
  grid-column: col-start 7 / span 6;
  grid-row: 2;
}

.mainItem4 {
  grid-column: col-start / span 6;
  grid-row: 3;
}

.mainItem5 {
  grid-column: col-start 7 / span 6;
  grid-row: 3;
}

img {
  max-width: 99.5%;
  display: block;
  margin-bottom: .75em;
}

.homeImage {
  border: 1px solid #c4c4c4;
}

.imgContainer {
  position: relative;
}

.hoverImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E4A13E;
}

.hoverImg:hover {
  position: absolute;
  top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
  transition: .5s ease;
  background-color: #E4A13E;
}

.hoverText {
  font-family: $montserrat;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.4em;
  opacity: 1;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// About Page Styling

.aboutTitle {
  grid-column: col-start / span 12;
  grid-row: 1;
}

.headshot {
  grid-column: col-start 2 / span 4;
  grid-row: 2;
  padding-bottom: 2em;
}

.about {
  grid-column: col-start 6 / span 5;
  grid-row: 2;
  padding-bottom: 2em;
}

// Project Pages Styling
#container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: minmax(3em, auto);
  grid-column-gap: 2%;
  grid-row-gap: .5em;
}

#projectTitle {
  font-family: $montserrat;
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
  padding: 4em 0 1.75em;
  color: #2D6D9C;
}

#projectimg {
  width: 100%;
  height: auto;
}

h2 {
  font-family: $montserrat;
  font-weight: 600;
  font-size: 1.25em;
  padding-bottom: .4em;
}

h3 {
  font-family: $montserrat;
  font-size: .9em;
  line-height: 1.5em;
  text-align: center;
  font-weight: 400;
  margin-top: -2em;
  padding-bottom: 3em;
}

.process {
  font-family: $montserrat;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  padding: .75em 0 2em;
}

.tasks {
  font-family: $montserrat;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  padding: .75em 0 2em;
}

.challenges {
  font-family: $montserrat;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  padding: 2em 0 2em;
}

.goals {
  font-family: $montserrat;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  padding: 2em 0 2em;
}

p {
  font-family: $open-sans;
  font-size: .8em;
  line-height: 1.75em;
}

.projectTitle {
  grid-column: col-start / span 12;
  grid-row: 1;
}

.mainImage {
  grid-column: col-start / span 8;
  grid-row: 2 / 5;
}

.problem {
  grid-column: col-start 9 / span 4;
  grid-row: 2;
}

.objective {
  grid-column: col-start 9 / span 4;
  grid-row: 3;
}

.role {
  grid-column: col-start 9 / span 4;
  grid-row: 4;
}

.siteLink {
  color: #E4A13E;
  font-size: 1em;
  font-weight: 900;
}

.processTitle {
  grid-column: col-start / span 12;
  grid-row: 6;
  color: #2D6D9C;
}

// Atlas Steps

.tasksTitle {
  grid-column: col-start / span 12;
  grid-row: 6;
  color: #2D6D9C;
}

/*
.ATLASstep1 {
  grid-column: col-start 1 / span 4;
  grid-row: 7;
}

.ATLASstep2 {
  grid-column: col-start 5 / span 4;
  grid-row: 7;
}

.ATLASstep3 {
  grid-column: col-start 9 / span 4;
  grid-row: 7;
}
*/

.ATLASstep4 {
  grid-column: col-start / span 4;
  grid-row: 7;
  //margin-top: 2em;
}

.ATLASstep4img {
  grid-column: col-start 5 / span 8;
  grid-row: 7;
  //margin-top: 2em;
}

.ATLASupcoming {
  grid-column: col-start / span 12;
  grid-row: 9;
  font-family: $montserrat;
  font-size: 2em;
  font-weight: 500;
  color: #2D6D9C;
  text-align: center;
  padding: 2em 0 2em;
}

//.ATLASchallengesTitle {
//  grid-column: col-start / span 12;
//  grid-row: 10;
//  color: #2D6D9C;
//}

// PMCC Steps
.PMCCstep1 {
  grid-column: col-start / span 4;
  grid-row: 7;
}

.PMCCstep1image {
  grid-column: col-start 5 / span 8;
  grid-row: 7;
}

.PMCCstep2 {
  grid-column: col-start / span 4;
  grid-row: 8;
  margin-top: 2em;
}

.PMCCstep2image {
  grid-column: col-start 5 / span 8;
  grid-row: 8;
  margin-top: 2em;
}

.PMCCstep3 {
  grid-column: col-start 1 / span 4;
  grid-row: 9;
  margin-top: 2em;
}

.PMCCstep3image1 {
  grid-column: col-start 5 / span 4;
  grid-row: 9;
  margin-top: 2em;
  width: 100%;
  height: auto;
}

.PMCCstep3image2 {
  grid-column: col-start 9 / span 4;
  grid-row: 9;
  margin-top: 2em;
  width: 100%;
  height: auto;
}

.PMCCchallengesTitle {
  grid-column: col-start / span 12;
  grid-row: 10;
  color: #2D6D9C;
}

.PMCCchallenge1 {
  grid-column: col-start / span 6;
  grid-row: 11;
  padding-bottom: 2em;
}

.PMCCchallenge2 {
  grid-column: col-start 7 / span 6;
  grid-row: 11;
  padding-bottom: 2em;
}

// SocialEater Steps
.SEstep1 {
  grid-column: col-start / span 4;
  grid-row: 7;
}

.SEstep2 {
  grid-column: col-start 5 / span 4;
  grid-row: 7;
}

.SEstep3 {
  grid-column: col-start 9 / span 4;
  grid-row: 7;
}

.SEstep4 {
  grid-column: col-start / span 4;
  grid-row: 8;
  margin-top: 2em;
}

.SEstep5 {
  grid-column: col-start 5 / span 4;
  grid-row: 8;
  margin-top: 2em;
}

.SEstep6 {
  grid-column: col-start 9 / span 4;
  grid-row: 8;
  margin-top: 2em;
}

.SEgoalsTitle {
  grid-column: col-start / span 12;
  grid-row: 9;
  color: #2D6D9C;
}

.SEgoal1 {
  grid-column: col-start / span 6;
  grid-row: 10;
  padding-bottom: 2em;
}

.SEgoal2 {
  grid-column: col-start 7 / span 6;
  grid-row: 10;
  padding-bottom: 2em;
}

// Arrived Steps
.ARRIVEDstep1 {
  grid-column: col-start / span 4;
  grid-row: 7;
}


.ARRIVEDstep2 {
  grid-column: col-start 5 / span 4;
  grid-row: 7;
}

.ARRIVEDstep3 {
  grid-column: col-start 9 / span 4;
  grid-row: 7;
}

.arrivedstep3image {
  grid-column: col-start 1 / span 12;
  grid-row: 8;
  margin-top: 2em;
}

.ARRIVEDstep4 {
  grid-column: col-start / span 4;
  grid-row: 9;
  margin-top: 2em;
}

.arrivedstep4image {
  grid-column: col-start 5 / span 8;
  grid-row: 9;
  margin-top: 2em;
}

.ARRIVEDstep5 {
  grid-column: col-start 1 / span 4;
  grid-row: 10;
  margin-top: 2em;
}

.arrivedstep5image {
  grid-column: col-start 5 / span 8;
  grid-row: 10;
  margin-top: 2em;
}

.ARRIVEDstep6 {
  grid-column: col-start 9 / span 4;
  grid-row: 10;
  margin-top: 2em;
}

.ARRIVEDchallengesTitle {
  grid-column: col-start / span 12;
  grid-row: 11;
  color: #2D6D9C;
}

.ARRIVEDchallenge1 {
  grid-column: col-start / span 6;
  grid-row: 12;
  padding-bottom: 2em;
}

.ARRIVEDchallenge2 {
  grid-column: col-start 7 / span 6;
  grid-row: 12;
  padding-bottom: 2em;
}

// Footer Styling

hr {
  width: 100%;
  left: 0;
  right: 0;
  border: 0em;
  border-top: .09em solid #E4A13E;
  margin-top: 1.5em;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-family: $montserrat;
  font-size: .75em;
  margin: 1.75em 0 1.5em 0;
}

footer p {
  margin-bottom: .7em;
  color: #3c3c3c;
}

footer a + a {
  padding-left: .25%;
}

footer a:hover {
  transition: .3s ease;
  color: #E4A13E;
}
