// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

// Font Variables
$montserrat: "Montserrat", sans-serif;
$open-sans: "Open Sans", sans-serif;

// Styling
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 3840px;
  margin: 0 5% 4em 5%;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  width: 100%;
  left: 0;
  right: 0;
  border: 0em;
  border-top: .09em solid #E4A13E;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

@-ms-viewport { width: device-width; }

// Screen Size

@media screen and (min-width: 960px) {
  #mainContainer #container{
    @include display-grid;
    -ms-grid-columns: repeat(12, [col-start] 1fr);
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: minmax(3em, [row] auto);
    grid-column-gap: 2%;
  }
}

@media screen and (min-width: 700px) {
  #mainContainer {
    @include display-grid;
    -ms-grid-columns: repeat(6, [col-start] 1fr);
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: minmax(3em, [row] auto);
    grid-column-gap: 2%;
  }
  #container {
    @include display-grid;
    -ms-grid-columns: repeat(8, [col-start] 1fr);
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: minmax(3em, [row] auto);
    grid-column-gap: 2%;
  }
}

@media screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (-webkit-min-device-pixel-ratio: 3) {
    #mainContainer {
      @include display-grid;
      -ms-grid-columns: repeat(6, [col-start] 1fr);
      -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-columns: repeat(12, [col-start] 1fr);
      grid-template-rows: minmax(3em, [row] auto);
      grid-column-gap: 2%;
    }
    #container {
      @include display-grid;
      -ms-grid-columns: repeat(8, [col-start] 1fr);
      -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-columns: repeat(12, [col-start] 1fr);
      grid-template-rows: minmax(3em, [row] auto);
      grid-column-gap: 2%;
    }
  }

// Header Styling
header {
  position: absolute;
  left: 0;
  right: 0;
  padding: 2em 0 1em;
}

h1 {
  font-family: $montserrat;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  padding: 5em 0 2.75em;
  grid-column: col-start / span 3;
}

#name {
  font-family: $montserrat;
  font-weight: 600;
  color: black;
  font-size: 1.25em;
  display: inline;
  padding-left: 5%;
}

#name:hover {
  color: #E4A13E;
  transition: .5s ease-in;
  transition: .5s ease-out;
}

nav {
  font-family: $open-sans;
  color: inherit;
  font-size: 0.9em;
  float: right;
  padding-right: 5%
}

ul{
  padding-left: 0;
}

nav ul li {
  list-style: none;
  display: inline;
  margin-left: 25px;
}

nav ul li:hover {
  color: #E4A13E;
  transition: .3s ease;
}

// Work Styling
/*#mainContainer {
  @include display-grid;
  -ms-grid-columns: repeat(12, [col-start] 1fr);
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: minmax(3em, [row] auto);
  grid-column-gap: 2%;
}*/

.bio {
  grid-column: col-start / span 12;
  grid-row: 1;
  line-height: 2.5em;
}

.mainItem2 {
  grid-column: col-start 1/ span 6;
  grid-row: 2;
}

.mainItem3 {
  grid-column: col-start 7 / span 6;
  grid-row: 2;
}

.mainItem4 {
  grid-column: col-start / span 6;
  grid-row: 3;
}

.mainItem5 {
  grid-column: col-start 7 / span 6;
  grid-row: 3;
}

img {
  max-width: 99.5%;
  width: auto;
  height: auto;
  display: block;
  margin-bottom: .75em;
  position: relative;
}

.imgContainer {
  position: relative;
}

.hoverImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E4A13E;
}

.hoverImg:hover {
  position: absolute;
  top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
  transition: .5s ease;
  background-color: #E4A13E;
}

.hoverText {
  font-family: $montserrat;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.4em;
  opacity: 1;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// About Page Styling

.aboutTitle {
  grid-column: col-start / span 12;
  grid-row: 1;
}

.headshot {
  grid-column: col-start 2 / span 4;
  grid-row: 2;
  padding-bottom: 2em;
}

.about {
  grid-column: col-start 6 / span 5;
  grid-row: 2;
  padding-bottom: 2em;
}

// Project Pages Styling

#projectTitle {
  font-family: $montserrat;
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
  padding: 3.5em 0 1.75em;
  color: #2D6D9C;
  line-height: 1.5em;
}

#projectimg {
  width: 100%;
  height: auto;
}

h2 {
  font-family: $montserrat;
  font-weight: 600;
  font-size: 1.25em;
  padding-bottom: .4em;
}

h3 {
  font-family: $montserrat;
  font-size: .9em;
  line-height: 1.5em;
  text-align: center;
  font-weight: 400;
  margin-top: -2em;
  padding-bottom: 3em;
}

.process {
  font-family: $montserrat;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  line-height: 2.5em;
  margin: 2em 0 2em;
  border-top: 1px solid #2D6D9C;
  border-bottom: 1px solid #2D6D9C;
  padding: 1em 0 1em;
}

.tasks {
  font-family: $montserrat;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  line-height: 2.5em;
  margin: 2em 0 2em;
  border-top: 1px solid #2D6D9C;
  border-bottom: 1px solid #2D6D9C;
  padding: 1em 0 1em;
}

.challenges {
  font-family: $montserrat;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  line-height: 2.5em;
  margin: 2em 0 2em;
  border-top: 1px solid #2D6D9C;
  border-bottom: 1px solid #2D6D9C;
  padding: 1em 0 1em;
}

.goals {
  font-family: $montserrat;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  line-height: 2.5em;
  margin: 2em 0 2em;
  border-top: 1px solid #2D6D9C;
  border-bottom: 1px solid #2D6D9C;
  padding: 1em 0 1em;
}

p {
  font-family: $open-sans;
  font-size: .8em;
  line-height: 1.75em;
}

#list {
  font-family: $open-sans;
  font-size: .8em;
  line-height: 1.75em;
  padding-left: 1.5em;
}

.projectTitle {
  grid-column: col-start / span 12;
  grid-row: 1;
  line-height: 2.5em;
}

.mainImage {
  grid-column: col-start / span 8;
  grid-row: 2 / 5;
}

.problem {
  grid-column: col-start 9 / span 4;
  grid-row: 2;
  margin-top: 1.5em;
}

.objective {
  grid-column: col-start 9 / span 4;
  grid-row: 3;
  margin-top: 1.5em;
}

.role {
  grid-column: col-start 9 / span 4;
  grid-row: 4;
  margin-top: 1.5em;
}

.siteLink {
  color: #E4A13E;
  font-size: 1em;
  font-weight: 900;
}

.processTitle {
  grid-column: col-start / span 12;
  grid-row: 6;
  color: #2D6D9C;
  margin-top: 1.5em;
  line-height: 2.5em;
}

// Atlas Steps
.appearanceTitle {
  grid-column: col-start / span 12;
  grid-row: 6;
  color: #2D6D9C;
  padding-top: 1em;
  margin-top: 1.5em;
}

.appearanceProblem {
  grid-column: col-start 1 / span 4;
  grid-row: 8;
  padding-bottom: 2em;
}

.appearanceObjective {
  grid-column: col-start 5 / span 4;
  grid-row: 8;
  padding-bottom: 2em;
}

.appearanceAssumptions {
  grid-column: col-start 9 / span 4;
  grid-row: 8;
  padding-bottom: 2em;
}

.ATLASoriginalimg {
  grid-column: col-start 1 / span 12;
  grid-row: 9;
  padding-bottom: 2em;
}

.appearanceStep1 {
  grid-column: col-start / span 4;
  grid-row: 10;
  padding-bottom: 2em;
}

.appearanceStep2 {
  grid-column: col-start 5 / span 4;
  grid-row: 10;
  padding-bottom: 2em;
}

.appearanceStep3 {
  grid-column: col-start 9 / span 4;
  grid-row: 10;
  padding-bottom: 2em;
}

.atlasAppearanceSketches {
  grid-column: col-start 1 / span 12;
  grid-row: 11;
  padding-bottom: 2em;
}

.appearanceStep4 {
  grid-column: col-start 1 / span 4;
  grid-row: 12;
  padding-bottom: 2em;
}

.atlasAppearanceTabs {
  grid-column: col-start 5 / span 8;
  grid-row: 12;
  padding-bottom: 2em;
}

.appearanceStep5 {
  grid-column: col-start 1 / span 4;
  grid-row: 13;
  padding-bottom: 2em;
}

.atlasAppearanceInterface {
  grid-column: col-start 5 / span 8;
  grid-row: 13;
  padding-bottom: 2em;
}

.dualVizTitle {
  grid-column: col-start 1 / span 12;
  grid-row: 14;
  color: #2D6D9C;
  margin-top: 1.5em;
}

.dualVizProblem {
  grid-column: col-start 1 / span 4;
  grid-row: 15;
  padding-bottom: 2em;
}

.dualVizObjective {
  grid-column: col-start 5 / span 4;
  grid-row: 15;
  padding-bottom: 2em;
}

.dualVizAssumptions {
  grid-column: col-start 9 / span 4;
  grid-row: 15;
  padding-bottom: 2em;
}

.dualVizResult {
  grid-column: col-start 1 / span 4;
  grid-row: 16;
  padding-bottom: 2em;
}

.dualVizInterface {
  grid-column: col-start 5 / span 8;
  grid-row: 16;
  padding-bottom: 2em;
}

.ATLASchallengesTitle {
  grid-column: col-start 1 / span 12;
  grid-row: 17;
  color: #2D6D9C;
}

.ATLASchallenge1 {
  grid-column: col-start 1 / span 6;
  grid-row: 18;
}

.ATLASchallenge2 {
  grid-column: col-start 7 / span 6;
  grid-row: 18;
}


// Arrived Steps
.ARRIVEDstep1 {
  grid-column: col-start 1 / span 4;
  grid-row: 7;
}

.ARRIVEDstep2 {
  grid-column: col-start 5 / span 4;
  grid-row: 7;
}

.ARRIVEDstep3 {
  grid-column: col-start 9 / span 4;
  grid-row: 7;
}

.arrivedstep3image {
  grid-column: col-start 1 / span 12;
  grid-row: 8;
  margin-top: 2em;
}

.ARRIVEDstep4 {
  grid-column: col-start / span 4;
  grid-row: 9;
  margin-top: 2em;
}

.arrivedstep4image {
  grid-column: col-start 5 / span 8;
  grid-row: 9;
  margin-top: 2em;
}

.ARRIVEDstep5 {
  grid-column: col-start 1 / span 4;
  grid-row: 10;
  margin-top: 2em;
}

.arrivedstep5image {
  grid-column: col-start 5 / span 8;
  grid-row: 10;
  margin-top: 2em;
}

.ARRIVEDstep6 {
  grid-column: col-start 9 / span 4;
  grid-row: 10;
  margin-top: 2em;
}

.ARRIVEDchallengesTitle {
  grid-column: col-start / span 12;
  grid-row: 11;
  color: #2D6D9C;
}

.ARRIVEDchallenge1 {
  grid-column: col-start / span 6;
  grid-row: 12;
  padding-bottom: 2em;
}

.ARRIVEDchallenge2 {
  grid-column: col-start 7 / span 6;
  grid-row: 12;
  padding-bottom: 2em;
  margin-top: 2em;
}

// PMCC Steps
.PMCCstep1 {
  grid-column: col-start / span 4;
  grid-row: 7;
}

.PMCCstep1image {
  grid-column: col-start 5 / span 8;
  grid-row: 7;
}

.PMCCstep2 {
  grid-column: col-start / span 4;
  grid-row: 8;
  margin-top: 2em;
}

.PMCCstep2image {
  grid-column: col-start 5 / span 8;
  grid-row: 8;
  margin-top: 2em;
}

.PMCCstep3 {
  grid-column: col-start 1 / span 4;
  grid-row: 9;
  margin-top: 2em;
}

.PMCCstep3image1 {
  grid-column: col-start 5 / span 4;
  grid-row: 9;
  margin-top: 2em;
  width: 100%;
  height: auto;
}

.PMCCstep3image2 {
  grid-column: col-start 9 / span 4;
  grid-row: 9;
  margin-top: 2em;
  width: 100%;
  height: auto;
}

.PMCCchallengesTitle {
  grid-column: col-start / span 12;
  grid-row: 10;
  color: #2D6D9C;
}

.PMCCchallenge1 {
  grid-column: col-start / span 6;
  grid-row: 11;
  padding-bottom: 2em;
}

.PMCCchallenge2 {
  grid-column: col-start 7 / span 6;
  grid-row: 11;
  padding-bottom: 2em;
  margin-top: 2em;
}

// SocialEater Steps
.SEstep1 {
  grid-column: col-start / span 4;
  grid-row: 7;
}

.SEstep2 {
  grid-column: col-start 5 / span 4;
  grid-row: 7;
}

.SEstep3 {
  grid-column: col-start 9 / span 4;
  grid-row: 7;
}

.SEstep4 {
  grid-column: col-start / span 4;
  grid-row: 8;
  margin-top: 2em;
}

.SEstep5 {
  grid-column: col-start 5 / span 4;
  grid-row: 8;
  margin-top: 2em;
}

.SEstep6 {
  grid-column: col-start 9 / span 4;
  grid-row: 8;
  margin-top: 2em;
}

.SEgoalsTitle {
  grid-column: col-start / span 12;
  grid-row: 9;
  color: #2D6D9C;
}

.SEgoal1 {
  grid-column: col-start / span 6;
  grid-row: 10;
  padding-bottom: 2em;
}

.SEgoal2 {
  grid-column: col-start 7 / span 6;
  grid-row: 10;
  padding-bottom: 2em;
  margin-top: 2em;
}

// Footer Styling

footer {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-family: $montserrat;
  font-size: .75em;
  margin: 1.75em 0 1.5em 0;
}

footer p {
  margin-bottom: .7em;
  color: #3c3c3c;
}

footer a + a {
  padding-left: .25%;
}

footer a:hover {
  transition: .3s ease;
  color: #E4A13E;
}
